#d2, h2{
	background-color: #668cff;
	width : auto;
	height :50px;
	padding-bottom:50px;
	
}

#d3, h3{
	background-color: #b3c6ff;
	max-height: 20px;
}

#d5, h5{
	background-color: #b3c6ff;
}
table{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #ccffe6;
}
td {
  width: 100%;
  border-collapse: collapse;
  background-color: #ccffe6;
}
